community:
  enabled: true

monitoringPasscodeSecretName: sonarqube-monitoring
monitoringPasscodeSecretKey: passcode

plugins:
  install:
    - https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/25.9.0/sonarqube-community-branch-plugin-25.9.0.jar

jvmOpts: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-25.9.0.jar=web"
jvmCeOpts: "-javaagent:/opt/sonarqube/extensions/plugins/sonarqube-community-branch-plugin-25.9.0.jar=ce"

postgresql:
  enabled: true

extraVolumes:
  - name: webapp
    emptyDir:
      sizeLimit: 50Mi

extraVolumeMounts:
  - name: webapp
    mountPath: /opt/sonarqube/web

extraInitContainers:
  - name: download-webapp
    image: busybox:1.37
    volumeMounts:
      - name: webapp
        mountPath: /web
    command:
      - sh
      - -c
      - >
        wget -O /tmp/sonarqube-webapp.zip
        https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/25.9.0/sonarqube-webapp.zip &&
        unzip -o /tmp/sonarqube-webapp.zip -d /web &&
        chmod -R 755 /web &&
        chown -R 1000:0 /web &&
        rm -f /tmp/sonarqube-webapp.zip

service:
  type: ClusterIP

persistence:
  enabled: true
  size: 20Gi

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - name: sonar.luukblankenstijn.nl
      path: /
      pathType: ImplementationSpecific
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
  tls:
    - secretName: sonarqube-tls
      hosts:
        - sonar.luukblankenstijn.nl

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "2"
    memory: "4Gi"
